<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="debug" value="true" />
    <add key="interval" value="1000" />
    <add key="crmConnection" value="Server=10.100.100.53\CRMINSTANCE;Database=CRMDEV2_MSCRM;Integrated Security=SSPI;" />
    <add key="crmConnStringDEV" value="ServiceUri=https://intcrm.2mybi.com/ZTRCRMDEV2; AuthType=IFD;Domain=ztrserve; UserName=adminsixs@ztr.biz;Password=6connect@ZTR; LoginPrompt=Never;" />
    <add key="spCRMGetOps" value=".\EpicorSps\spCRMGetOps.sql" />
    <add key="spGetCRMProcessedOps" value=".\EpicorSps\spGetCRMProcessedOps.sql" />
    <add key="spGetQuoteOps" value=".\EpicorSps\spGetQuoteOps.sql" />
    <add key="spSetQuoteOPSuccess" value=".\EpicorSps\spSetQuoteOPSuccess.sql" />
    <add key="spGetContacOps" value=".\EpicorSps\spGetContacOps.sql" />
    <add key="spGetCRMContactOps" value=".\EpicorSps\spGetCRMContactOps.sql" />
    <add key="spSetContactOPSuccess" value=".\EpicorSps\spSetContactOPSuccess.sql" />
    <add key="spGetE101QuoteOps" value=".\EpicorSps\spGetE101QuoteOps.sql" />
    <add key="spGetE101TermsOps" value=".\EpicorSps\spGetE101TermsOps.sql" />
    <add key="spGetE101CustGrpOps" value=".\EpicorSps\spGetE101CustGrpOps.sql" />
    <add key="spGetE101Orders" value=".\EpicorSps\spGetE101Orders.sql" />
    <add key="updCRMQuoteOps" value=".\EpicorSps\updCRMQuoteOps.sql" />
    <add key="OrdersLastRun" value="502413" />
    <add key="iE101Connection" value="Server=10.100.100.53;Database=EpicorPilot10;Integrated Security=SSPI;" />
    <add key="spGetOps" value=".\EpicorSps\spGetOps.sql" />
    <add key="spUpdOps" value=".\EpicorSps\spUpdOps.sql" />
    <add key="spSetCrmSuccess" value=".\EpicorSps\spSetCrmSuccess.sql" />
    <add key="pathLog" value=".\Logs\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="epiUser" value="sixspartner" />
    <add key="epiPass" value="Enter@ZTR" />
    <add key="epiConfig" value="C:\Epicor\ERP10.200.0Client\Client\config\EpicorPilot102.sysconfig" />
    <add key="epiBinding" value="net.tcp://ZTRLDERP02.ztr.biz/EpicorPilot102" />
  </appSettings>
</configuration>
